
/* HEADER-INFO BACKGROUND/DIV */
.header-info-div{
    background-color: #1F3C61;
    width: 100%;
    height: 40px;
}
/* FIM */



/* HEADER INFO MAP(IMAGEM) */
.header-info-map{
    width: 30px;
    height: 30px;
    filter: invert(100%);
}
/* FIM */



.header-info-wp{
    width: 20px;
    height: 20px;
    filter: invert(100%);
}

.header-info-icons-area{
    width: 23px;
    height: 23px;
    filter: invert(100%);
    transition: 0.2s;
}

.header-info-insta{
    width: 40px;
    height: 40px;
    border: 0px;
}


